.jumbotron {
  background-image: url('../img/pizza-heading.jpg');
  background-size: cover;
}

.center{
  text-align: center;
}

.lettering {
  float: right;
  font-family: serif;
  font-size: 75px;
  color: black;
}
